<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="stylesheet" href="/assets/stylesheets/createPost.css">
<link href="https://unpkg.com/quill-image-uploader@1.2.4/dist/quill.imageUploader.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">

<body>
    <header class="masthead" style="background-image: url(/assets/imgs/06.jpg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">


                    <div class="post-heading">
                        <div id="toolbar-heading">
                            <span class="ql-formats">
                                <select class="ql-size"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-script" value="sub"></button>
                                <button class="ql-script" value="super"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-header" value="1"></button>
                                <button class="ql-header" value="2"></button>
                                <button class="ql-blockquote"></button>
                                <button class="ql-code-block"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                                <button class="ql-indent" value="-1"></button>
                                <button class="ql-indent" value="+1"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-direction" value="rtl"></button>
                                <select class="ql-align"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                                <button class="ql-image"></button>
                                <button class="ql-video"></button>
                            </span>

                        </div>
                        <div id="headingEditor">
                        </div>

                        <span class="meta">Posted by
                            <a href="#">Start Bootstrap</a>
                            on January 31, 2020 · <span class="reading-time" title="Estimated read time">

                                4 mins read </span>

                        </span>
                        <br />
                        <span class="badge bg-primary">
                            #tag1
                        </span>
                        <span class="badge bg-primary">
                            #tag2
                        </span>
                        <span class="badge bg-primary">
                            #tag3
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <main class="container post-content-edit">
        <form action="/post/save" id="content-form" method="POST">

            <div class="row">
                <div class="col ">
                    <div class="card col-left">
                        <div class="card-header bg-warning">
                            Chỉ mục điều hướng
                        </div>
                        <div class="list-group">

                            <a href="#" class="list-group-item list-group-item-action">#Heading 1</a>
                            <a href="#" class="list-group-item list-group-item-action">#Heading 2</a>

                        </div>
                    </div>


                </div>
                <div class="col-8 col-center">
                    <div id="editor">
                    </div>
                </div>
                <div class="col ">
                    <div class="card bg-success col-right">
                        <div class="card-header text-white">
                            Hiển thị
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="radio" name="visibility" value="private"
                                    id="private" checked>
                                <label class="form-check-label" for="private">Riêng tư</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="radio" name="visibility" value="public"
                                    id="public">
                                <label class="form-check-label" for="public">Công khai</label>
                            </li>

                        </ul>
                    </div>
                    <input type="text" name="headingDelta" id="headingDelta" hidden>
                    <input type="text" name="contentDelta" id="contentDelta" hidden>
                    <button class="btn bg-primary text-white w-100 mt-2 save-content-btn">Lưu và xem</button>
                </div>
            </div>
        </form>
    </main>
    <footer class="mt-5">1
    </footer>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script src="https://unpkg.com/quill-image-uploader@1.2.4/dist/quill.imageUploader.min.js"></script>
<script type="text/html" src="../../node_modules/quill-blot-formatter/dist/quill-blot-formatter.min.js">
    Quill.register('modules/blotFormatter', QuillBlotFormatter.default);
</script>

<!-- After quill script includes -->
<script src="../assets/javascripts/createPost.js"></script>

</html>
