/* login page */
.form-container {
    height: 100%;
}


.form-container .right-content {
    text-align: center;
    width: 100%;
    padding: 30px 50px;
    display: inline-block;
    height: 100%;
}

.form-container .right-content .form-title {
    color: #888;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 2px;
    margin: 0 0 30px;
}

.signin {
    color: #f9f9f9;
    background-color: var(--blue_button);
}

.form-container .form-horizontal .form-group {
    margin: 0 0 20px;
}

.form-container .form-horizontal .form-group:nth-of-type(2) {
    margin-bottom: 35px;
}

.form-container .form-horizontal .form-group label {
    font-weight: 500;
}

.form-container .form-horizontal .form-control {
    color: #888;
    background: #f9f9f9;
    font-weight: 400;
    letter-spacing: 1px;
    height: 40px;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
}

.form-container .form-horizontal .form-control:focus {
    box-shadow: 0 0 5px #FF97A8;
}

.username-input {
    border: 1px solid var(--orange_color) !important;

}

.password-input {
    border: 1px solid var(--orange_color) !important;
}

.google {
    border: 1px solid #f84141;
    color: #f84141;

}

.google:hover {
    background-color: #f84141;
    color: #fff;
    border: 1px solid #f84141;
    box-shadow: 0 0 5px #FF97A8;
}

.login-title {
    color: var(--blue_button);
}