@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.post-heading,
.post-content {
    font-family: 'Cabin' !important;
}

.post-meta {
    color: #666;
    font-size: 14px;
}

.breadcrumbs {
    background-color: #f4f6fc;
}

main.wrapper {
    margin-top: 80px;
}

.ql-editor {
    padding: 0 !important;
}

.headingEditor * {
    font-family: 'Roboto' !important;
    font-size: 26px !important;
    color: #000;
    font-weight: 500;
}

.ql-container.ql-snow {
    padding: 0 !important;
    border: none !important;
    font-size: 16px;
    height: auto;
}

.heading-post * {
    font-size: 16px !important;
    color: black !important;
}

.post-col-right {
    width: 380px !important;
}