<link rel="stylesheet" href="/assets/stylesheets/footer.css">
<footer class="footer-16371 border-top">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-md-9 text-center">
                <div class="footer-site-logo mb-4">
                    <a href="#">TechShare</a>
                </div>
                <ul class="list-unstyled nav-links mb-4">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="social">
                    <h3>Stay in touch</h3>
                    <ul class="list-unstyled">
                        <li class="fb"><a target="_blank" href="https://facebook.com/thaipham.ctu"><ion-icon
                                    name="logo-facebook"></ion-icon></a></li>
                        {{!-- <li class="fb"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="tw"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="pin"><a href="#"><span class="icon-pinterest"></span></a></li>
                        <li class="dr"><a href="#"><span class="icon-dribbble"></span></a></li> --}}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>