<footer class="d-flex flex-wrap justify-content-between align-items-center p-2 border-top">
    <div class="col-sm-6 d-flex align-items-center">
        <span class="mb-3 mb-md-0 md-sm-0 text-body-secondary fst-italic">ThaiPham@2909 | pqthai2909@gmail.com</span>
    </div>

    <ul class="nav  justify-content-end list-unstyled d-flex">

        <li class="ms-3"><a class="text-body-secondary" target="_blank"
                href="https://www.facebook.com/thaipham.ctu"><svg class="" width="24" height="24">
                    <use xlink:href="#facebook"></use>
                </svg></a></li>
    </ul>
</footer>