<header>
  <nav class="navbar  navbar-light navbar-expand-md py-3 border-bottom">
    <div class="container">
      <a href="#" class="navbar-brand text-primary " style="font-size: 24px;">
        <img src="/assets/imgs/logo.png" alt="" height="25px">
        TECHSHARE
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse smooth " id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0 px-3 px-md-0">
          <li class="nav-item"><a href="#" class="nav-link text-dark text-primary">Our Story</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-dark text-primary">Membership</a>
          </li>
          <li class="nav-item"><a href="#" class="nav-link text-dark text-primary">Write</a></li>
          <li class="nav-item">
            <a href="#" class="nav-link text-primary">Tài khoản</a>
          </li>
          <li class="nav-item"><a href="#" class="nav-link btn rounded-pill text-light bg-primary">Đăng
              nhập/Đăng ký</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>