<header>
  <nav class="navbar  navbar-light navbar-expand-md py-3 border-bottom">
    <div class="container">
      <a href="#" class="navbar-brand text-primary " style="font-size: 24px;">
        <img src="/assets/imgs/logo.png" alt="" height="25px">
        TECHSHARE
      </a>

      <button class="navbar-toggler border border-0 bars-icon" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle Navigation">
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <div class="collapse navbar-collapse smooth " id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0 px-3 px-md-0">
          <li class="nav-item"><a href="#" class="nav-link text-dark text-primary">Bài đăng</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-dark text-primary">Viết bài</a>
          </li>
          <li class="nav-item"><a href="#" class="nav-link text-dark text-primary">Tác giả</a></li>

          <li class="nav-item dropdown mb-2 profile">

            <a href="#" class="nav-link text-primary dropdown-toggle align-middle" role="button"
              data-bs-toggle="dropdown" aria-expanded="false"><ion-icon class="align-middle"
                name="person-circle-outline" style="font-size: 26px; margin-bottom: 1px;"></ion-icon>ThaiPham@2909
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
              <li><a class="dropdown-item" href="#">Bài viết của tôi</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="#" class="nav-link btn rounded-pill text-light bg-primary">Đăng
              nhập/Đăng ký</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>